<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="renderer" content="webkit">
    <title>促销热门</title>

    <link href="css/gwd_fuwuhao_all.css" rel="stylesheet">

  </head>
  <body>
    <!-- === Gwd_cxrm === -->
    <div id="gwd_cxrm">
      <div class="container">
        <a href="javascript:void(0);">
          <div class="row">
            <div class="col-gwd-2-61">
              <img src="image/loading.jpg" alt="促销活动" class="gwd-img-block-center">
            </div>
            <div class="col-gwd-2-39">
              <div class="mall">
                <img class="mall-icon" alt="商城小logo" src="">
                <p class="mall-name gwd_p">中国亚马逊</p>
              </div>
              <div class="title gwd_p">劲霸男士针织衫满199-100</div>
              <div class="atime gwd_p">11月9号-11月12号</div>
            </div>
          </div>
        </a>
      </div><!-- container -->
    </div><!-- gwd_cxrm -->
    <!-- === End Gwd_cxrm === -->

    <!-- === Gwd_gotop === -->
    <div class="gwd_gotop">
      <img src="image/gotop.png" alt="回顶部图标" class="gwd-img-block-center">
    </div><!-- gwd_gotop -->
    <!-- === End Gwd_gotop === -->

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/render.js"></script>
    <script type="text/javascript" src="js/cuXiaoReMen.js"></script>
    <script type="text/javascript" src="js/goTop.js"></script>
  </body>
</html>