<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="renderer" content="webkit">
    <title>国内精选</title>

    <link href="css/gwd_fuwuhao_all.css" rel="stylesheet">

  </head>
  <body>

    <!-- 此页面复用海淘页面，略作修改，故很多名字是haitao -->

    <!-- === Gwd_haitao_nav -->
    <div id="gwd_haitao_nav">
      <div class="container">
          <div class="row">
            <div class="col-gwd-5-20">
              <img src="image/all.png" alt="分类按钮图片" class="gwd-img-block-center gwd-nav-img">
              <p class="gwd_p">全部</p>
            </div><!-- col-gwd-5-20 -->
            <div class="col-gwd-5-20">
              <img src="image/makeup.png" alt="分类按钮图片" class="gwd-img-block-center gwd-nav-img">
              <p class="gwd_p">美妆</p>
            </div><!-- col-gwd-5-20 -->
            <div class="col-gwd-5-20">
              <img src="image/cloth.png" alt="分类按钮图片" class="gwd-img-block-center gwd-nav-img">
              <p class="gwd_p">服饰鞋包</p>
            </div><!-- col-gwd-5-20 -->
            <div class="col-gwd-5-20">
              <img src="image/food.png" alt="分类按钮图片" class="gwd-img-block-center gwd-nav-img">
              <p class="gwd_p">食品</p>
            </div><!-- col-gwd-5-20 -->
            <div class="col-gwd-5-20">
              <img src="image/baby.png" alt="分类按钮图片" class="gwd-img-block-center gwd-nav-img">
              <p class="gwd_p">母婴</p>
            </div><!-- col-gwd-5-20 -->
            <div class="col-gwd-5-20">
              <img src="image/electric.png" alt="分类按钮图片" class="gwd-img-block-center gwd-nav-img">
              <p class="gwd_p">数码家电</p>
            </div><!-- col-gwd-5-20 -->
            <div class="col-gwd-5-20">
              <img src="image/living.png" alt="分类按钮图片" class="gwd-img-block-center gwd-nav-img">
              <p class="gwd_p">家居日百</p>
            </div><!-- col-gwd-5-20 -->
            <div class="col-gwd-5-20">
              <img src="image/outside.png" alt="分类按钮图片" class="gwd-img-block-center gwd-nav-img">
              <p class="gwd_p">户外</p>
            </div><!-- col-gwd-5-20 -->
            <div class="col-gwd-5-20">
              <img src="image/car.png" alt="分类按钮图片" class="gwd-img-block-center gwd-nav-img">
              <p class="gwd_p">汽车用品</p>
            </div><!-- col-gwd-5-20 -->
            <div class="col-gwd-5-20">
              <img src="image/others.png" alt="分类按钮图片" class="gwd-img-block-center gwd-nav-img">
              <p class="gwd_p">其他</p>
            </div><!-- col-gwd-5-20 -->
          </div><!-- row -->
        </div><!-- container -->
    </div><!-- gwd_haitao_nav -->
    <!-- === End Gwd_haitao_nav -->

    <hr>

    <!-- === Gwd_haitao_list === -->
    <div id="gwd_haitao_list">
      <div class="container">
        <a href="javascript:void(0);">
          <div class="row">
            <div class="col-gwd-3-40">
              <span></span>
              <img src="image/loading.jpg" alt="商品预览图" class="gwd-img-block-center">
            </div><!-- col-gwd-3-40 -->
            <div class="col-gwd-3-5"></div>
            <div class="col-gwd-3-55">
              <div class="title gwd_p_big">商品标题信息,颜色黑色（主要要和价格、商商品标题信息,颜色黑色（主要要和价格、商商品标题信息,颜色黑色（主要要和价格、商商品标题信息,颜色黑色（主要要和价格、商商品标题信息,颜色黑色（主要要和价格、商城平台的颜色有区分度）</div>
              <div class="price gwd_p red">满<span class="red">￥</span><span class="red gwd_p_big">80</span>包邮，送送送，买买买，买就送，送就买，你要吗，你送吗，你送我就要，你要我就送，你送多少，你要多少，你有病吧</div>
              <img class="mall-icon" alt="商城小logo" src="">
              <div class="mall-name gwd_p">中国亚马逊</div>
              <div class="ltime gwd_p">12-31,13:21</div>
              <hr>
            </div><!-- col-gwd-3-55 -->
          </div><!-- row -->
        </a>
        <a href="javascript:void(0);">
          <div class="row">
            <div class="col-gwd-3-40">
              <span></span>
              <img src="image/loading.jpg" alt="商品预览图" class="gwd-img-block-center">
            </div><!-- col-gwd-3-40 -->
            <div class="col-gwd-3-5"></div>
            <div class="col-gwd-3-55">
              <div class="title gwd_p_big">商品标题信息,颜色黑色（主要要和价格、商商品标题信息,颜色黑色（主要要和价格、商商品标题信息,颜色黑色（主要要和价格、商商品标题信息,颜色黑色（主要要和价格、商商品标题信息,颜色黑色（主要要和价格、商城平台的颜色有区分度）</div>
              <div class="price gwd_p red"><span class="red">￥</span><span class="red gwd_p_big">80</span></div>
              <img class="mall-icon" alt="商城小logo" src="">
              <div class="mall-name gwd_p">中国亚马逊</div>
              <div class="ltime gwd_p">13:21</div>
              <hr>
            </div><!-- col-gwd-3-55 -->
          </div><!-- row -->
        </a>
        <a href="javascript:void(0);">
          <div class="row">
            <div class="col-gwd-3-40">
              <span></span>
              <img src="image/loading.jpg" alt="商品预览图" class="gwd-img-block-center">
            </div><!-- col-gwd-3-40 -->
            <div class="col-gwd-3-5"></div>
            <div class="col-gwd-3-55">
              <div class="title gwd_p_big">商品标题信息,颜色黑色（主要要和价格、商商品标题信息,颜色黑色（主要要和价格、商商品标题信息,颜色黑色（主要要和价格、商商品标题信息,颜色黑色（主要要和价格、商商品标题信息,颜色黑色（主要要和价格、商城平台的颜色有区分度）</div>
              <div class="price gwd_p red"><span class="red">￥</span><span class="red gwd_p_big">80</span></div>
              <img class="mall-icon" alt="商城小logo" src="">
              <div class="mall-name gwd_p">中国亚马逊</div>
              <div class="ltime gwd_p">13:21</div>
              <hr>
            </div><!-- col-gwd-3-55 -->
          </div><!-- row -->
        </a>
        <a href="javascript:void(0);">
          <div class="row">
            <div class="col-gwd-3-40">
              <span></span>
              <img src="image/loading.jpg" alt="商品预览图" class="gwd-img-block-center">
            </div><!-- col-gwd-3-40 -->
            <div class="col-gwd-3-5"></div>
            <div class="col-gwd-3-55">
              <div class="title gwd_p_big">商品标题信息,颜色黑色（主要要和价格、商商品标题信息,颜色黑色（主要要和价格、商商品标题信息,颜色黑色（主要要和价格、商商品标题信息,颜色黑色（主要要和价格、商商品标题信息,颜色黑色（主要要和价格、商城平台的颜色有区分度）</div>
              <div class="price gwd_p red"><span class="red">￥</span><span class="red gwd_p_big">80</span></div>
              <img class="mall-icon" alt="商城小logo" src="">
              <div class="mall-name gwd_p">中国亚马逊</div>
              <div class="ltime gwd_p">13:21</div>
              <hr>
            </div><!-- col-gwd-3-55 -->
          </div><!-- row -->
        </a>
      </div><!-- container -->
    </div><!-- gwd_haitao_list -->
    <!-- === End Gwd_haitao_list === -->

    <!-- === Gwd_gotop === -->
    <div class="gwd_gotop">
      <img src="image/gotop.png" alt="回顶部图标" class="gwd-img-block-center">
    </div><!-- gwd_gotop -->
    <!-- === End Gwd_gotop === -->

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/render.js"></script>
    <script type="text/javascript" src="js/guoNeiJingXuan.js"></script>
    <script type="text/javascript" src="js/goTop.js"></script>
  </body>
</html>