<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="renderer" content="webkit">
    <title>降价提醒</title>

    <link href="css/gwd_fuwuhao_all.css" rel="stylesheet">

  </head>
  <body>
    <!-- === Gwd_jjtx_top === -->
    <div id="gwd_jjtx_top">
      <div class="container">
        <p class="gwd_p_big">分类：<span>全部</span></p>
        <ul class="gwd_p">
          <li id="all">全部</li>
          <li id="computer">电脑数码(2)</li>
          <li id="watch">手表(1)</li>
          <li id="camera">单反相机(2)</li>
          <li id="xbox">X-BOX(1)</li>
          <li id="computer">电脑数码(2)</li>
          <li id="watch">手表(1)</li>
          <li id="camera">单反相机(2)</li>
          <li id="xbox">X-BOX(1)</li>
          <li id="computer">电脑数码(2)</li>
          <li id="watch">手表(1)</li>
          <li id="camera">单反相机(2)</li>
          <li id="xbox">X-BOX(1)</li>
          <li id="computer">电脑数码(2)</li>
          <li id="watch">手表(1)</li>
          <li id="camera">单反相机(2)</li>
          <li id="xbox">X-BOX(1)</li>
          <li id="computer">电脑数码(2)</li>
          <li id="watch">手表(1)</li>
          <li id="camera">单反相机(2)</li>
          <li id="xbox">X-BOX(1)</li>
          <li id="computer">电脑数码(2)</li>
          <li id="watch">手表(1)</li>
          <li id="camera">单反相机(2)</li>
          <li id="xbox">X-BOX(1)</li>
        </ul>
      </div><!-- container -->
    </div><!-- gwd_jjtx_top -->
    <!-- === End Gwd_jjtx_top === -->

    <hr>

    <!-- === Gwd_jjtx_list === -->
    <div id="gwd_jjtx_list">
      <div class="container">
        <a href="javascript:void(0);">
          <div class="row">
            <div class="col-gwd-2-39">
              <span></span>
              <img src="image/loading.jpg" alt="促销活动" class="gwd-img-block-center">
            </div><!-- col-gwd-2-61 -->
            <div class="col-gwd-2-61">
              <div class="title gwd_p_big">天梭手表 力洛克天文台认机械男表力洛克天文台认证机天梭手表 力洛克天文台认机械男表力洛克天文台认证机天梭手表 力洛克天文台认机械男表力洛克天文台认证机天梭手表 力洛克天文台认机械男表力洛克天文台认证机</div>
              <div class="lowprice gwd_p red">比收藏时降价101.00</div>
              <div class="mall">
                <p class="price gwd_p red"><span>￥</span><span class="red gwd_p_big">899.00</span></p>
                <img class="mall-icon" alt="商城小logo" src="">
                <p class="mall-name gwd_p">中国亚马逊</p>
              </div><!-- mall -->
              <hr>
            </div><!-- col-gwd-2-39 -->
          </div><!-- row -->
        </a>
        <a href="javascript:void(0);">
          <div class="row">
            <div class="col-gwd-2-39">
              <span></span>
              <img src="image/loading.jpg" alt="促销活动" class="gwd-img-block-center">
            </div><!-- col-gwd-2-61 -->
            <div class="col-gwd-2-61">
              <div class="title gwd_p_big">天梭手表 力洛克天文台认机械男表力洛克天文台认证机天梭手表 力洛克天文台认机械男表力洛克天文台认证机天梭手表 力洛克天文台认机械男表力洛克天文台认证机天梭手表 力洛克天文台认机械男表力洛克天文台认证机</div>
              <div class="lowprice gwd_p red">比收藏时降价101.00</div>
              <div class="mall">
                <p class="price gwd_p red"><span>￥</span><span class="red gwd_p_big">899.00</span></p>
                <img class="mall-icon" alt="商城小logo" src="">
                <p class="mall-name gwd_p">中国亚马逊</p>
              </div><!-- mall -->
              <hr>
            </div><!-- col-gwd-2-39 -->
          </div><!-- row -->
        </a>
        <a href="javascript:void(0);">
          <div class="row">
            <div class="col-gwd-2-39">
              <span></span>
              <img src="image/loading.jpg" alt="促销活动" class="gwd-img-block-center">
            </div><!-- col-gwd-2-61 -->
            <div class="col-gwd-2-61">
              <div class="title gwd_p_big">天梭手表 力洛克天文台认机械男表力洛克天文台认证机天梭手表 力洛克天文台认机械男表力洛克天文台认证机天梭手表 力洛克天文台认机械男表力洛克天文台认证机天梭手表 力洛克天文台认机械男表力洛克天文台认证机</div>
              <div class="lowprice gwd_p red">比收藏时降价101.00</div>
              <div class="mall">
                <p class="price gwd_p red"><span>￥</span><span class="red gwd_p_big">899.00</span></p>
                <img class="mall-icon" alt="商城小logo" src="">
                <p class="mall-name gwd_p">中国亚马逊</p>
              </div><!-- mall -->
              <hr>
            </div><!-- col-gwd-2-39 -->
          </div><!-- row -->
        </a>
        <a href="javascript:void(0);">
          <div class="row">
            <div class="col-gwd-2-39">
              <span></span>
              <img src="image/loading.jpg" alt="促销活动" class="gwd-img-block-center">
            </div><!-- col-gwd-2-61 -->
            <div class="col-gwd-2-61">
              <div class="title gwd_p_big">天梭手表 力洛克天文台认机械男表力洛克天文台认证机天梭手表 力洛克天文台认机械男表力洛克天文台认证机天梭手表 力洛克天文台认机械男表力洛克天文台认证机天梭手表 力洛克天文台认机械男表力洛克天文台认证机</div>
              <div class="lowprice gwd_p red">比收藏时降价101.00</div>
              <div class="mall">
                <p class="price gwd_p red"><span>￥</span><span class="red gwd_p_big">899.00</span></p>
                <img class="mall-icon" alt="商城小logo" src="">
                <p class="mall-name gwd_p">中国亚马逊</p>
              </div><!-- mall -->
              <hr>
            </div><!-- col-gwd-2-39 -->
          </div><!-- row -->
        </a>
      </div><!-- container -->
    </div><!-- gwd_jjtx_list -->
    <!-- === End Gwd_jjtx_list === -->

    <!-- === Gwd_gotop === -->
    <div class="gwd_gotop">
      <img src="image/gotop.png" alt="回顶部图标" class="gwd-img-block-center">
    </div><!-- gwd_gotop -->
    <!-- === End Gwd_gotop === -->

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/render.js"></script>
    <script type="text/javascript" src="js/jiangJiaTiXing.js"></script>
    <script type="text/javascript" src="js/goTop.js"></script>
  </body>
</html>