<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="renderer" content="webkit">
    <title>促销商城</title>

    <link href="css/gwd_fuwuhao_all.css" rel="stylesheet">

  </head>
  <body>
    <!-- === Gwd_cxsc === -->
    <div id="gwd_cxsc">
      <div class="container">
        <div class="row">
          <div class="col-gwd-3-33">
            <a href="javascript:void(0);"><span></span><img src="image/loading.jpg" alt="商城图标" class="gwd-img-block-center"></a>
          </div><!-- col-gwd-3-33 -->
          <div class="col-gwd-3-33">
            <a href="javascript:void(0);"><span></span><img src="image/loading.jpg" alt="商城图标" class="gwd-img-block-center"></a>
          </div><!-- col-gwd-3-33 -->
          <div class="col-gwd-3-33">
            <a href="javascript:void(0);"><span></span><img src="image/loading.jpg" alt="商城图标" class="gwd-img-block-center"></a>
          </div><!-- col-gwd-3-33 -->
        </div><!-- row -->
        <div class="row">
          <div class="col-gwd-3-33">
            <a href="javascript:void(0);">
              <span></span>
              <img src="image/loading.jpg" alt="商城图标" class="gwd-img-block-center">
            </a>
          </div><!-- col-gwd-3-33 -->
          <div class="col-gwd-3-33">
            <a href="javascript:void(0);">
              <span></span>
              <img src="image/loading.jpg" alt="商城图标" class="gwd-img-block-center">
            </a>
          </div><!-- col-gwd-3-33 -->
          <div class="col-gwd-3-33">
            <a href="javascript:void(0);">
              <span></span>
              <img src="image/loading.jpg" alt="商城图标" class="gwd-img-block-center">
            </a>
          </div><!-- col-gwd-3-33 -->
        </div><!-- row -->
        <div class="row">
          <div class="col-gwd-3-33">
            <a href="javascript:void(0);">
              <span></span>
              <img src="image/loading.jpg" alt="商城图标" class="gwd-img-block-center">
            </a>
          </div><!-- col-gwd-3-33 -->
          <div class="col-gwd-3-33">
            <a href="javascript:void(0);">
              <span></span>
              <img src="image/loading.jpg" alt="商城图标" class="gwd-img-block-center">
            </a>
          </div><!-- col-gwd-3-33 -->
          <div class="col-gwd-3-33">
            <a href="javascript:void(0);">
              <span></span>
              <img src="image/loading.jpg" alt="商城图标" class="gwd-img-block-center">
            </a>
          </div><!-- col-gwd-3-33 -->
        </div><!-- row -->
        <div class="row">
          <div class="col-gwd-3-33">
            <a href="javascript:void(0);">
              <span></span>
              <img src="image/loading.jpg" alt="商城图标" class="gwd-img-block-center">
            </a>
          </div><!-- col-gwd-3-33 -->
          <div class="col-gwd-3-33">
            <a href="javascript:void(0);">
              <span></span>
              <img src="image/loading.jpg" alt="商城图标" class="gwd-img-block-center">
            </a>
          </div><!-- col-gwd-3-33 -->
          <div class="col-gwd-3-33">
            <a href="javascript:void(0);">
              <span></span>
              <img src="image/loading.jpg" alt="商城图标" class="gwd-img-block-center">
            </a>
          </div><!-- col-gwd-3-33 -->
        </div><!-- row -->
      </div><!-- container -->
    </div><!-- gwd_cxsc -->
    <!-- === End Gwd_cxsc === -->

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/render.js"></script>
    <script type="text/javascript" src="js/cuXiaoShangCheng.js"></script>
  </body>
</html>